<p>
  <button type="button" (click)="alert('Hello')">Show Alert</button>
</p>
<p>
  <button type="button" (click)="confirm('Are you sure?')">Show Confirm</button>
</p>
<p>
  <button type="button" (click)="openModal()">Open Modal</button>
</p>
<p>
  <button type="button" (click)="showToast('This is pretty neat :)', 'Hi Praarthi!')">Show Toast</button>
</p>
<p>
  <button type="button" (click)="showToast('This would be an error :(', 'Hi Praarthi!', 'error')">Show Toast Error</button>
</p>
<p>
  <button type="button" (click)="showToastWithHtml()">Show Toast with HTML</button>
</p>
